<header class="header">
    <h1 class="header-title">
        <a href="/">{{ site.lastName }}<span>&#39;s blog</span></a>
    </h1>
    <nav class="header-nav">
        {% for nav in site.nav %}
            {% assign class = nil %}
            {% if page.url contains nav.url %}
                {% comment %}
                <!-- http://stackoverflow.com/a/28057019/1695663 -->
                {% endcomment %}
                {% assign class = 'active' %}
            {% endif %}
            {% if nav.url contains 'http://' or nav.url contains 'https://' %}
                <a href="{{ nav.url }}" class="{{ class }}" target="_blank">{{ nav.name }}</a>
            {% else %}
                <a href="{{ nav.url | prepend: site.baseurl }}" class="{{ class }}">{{ nav.name }}</a>
            {% endif %}
        {% endfor %}
    </nav>
</header>
