<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.lastName }}{% endif %}" />
	<meta property="og:type" content="blog" />
    <meta property="og:description" content="{{ page.excerpt | strip_html }}" />
	<!--<meta property="og:url" content="{{ site.url | append: page.url }}" />-->
	<meta property="og:image" content="{{ site.url }}/images/pic.png" />
    {% if page.url == "/404" %}
    <meta http-equiv="refresh" content="5; url=/">
    {% endif %}
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.lastName }}{% endif %}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/social-share-kit.css" type="text/css">

    <!-- Font -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <link rel="author" href="humans.txt" />
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ site.lastName }}" href="{{ site.url }}/feed.xml" />
    {% seo %}

    {% comment %}
    {% include google-analytics.html %}
    {% endcomment %}
</head>
<body>
  <div class="content-container">
    {% include header.html %}
    {{ content }}
  </div>
    {% include footer.html %}
  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
  <!--<script src="/js/scripts.js" type="text/javascript"></script>-->
</body>
</html>
