---
layout: default
comments: true
---
<div class="post">
  <h2 class="post-title">{{ page.title }}</h2>
  <span class="post-date">
    <time>{{ page.date | date_to_string }}</time>
  </span>
  <div class="post-tag">
    <ul>
      {% for tag in page.tags %}
      <li>
        <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}" class="tag">
          <span class="term">{{ tag }}</span>
        </a>
      </li>
      {% unless forloop.last %}
      {% endunless %}
      {% endfor %}
    </ul>
  </div>

  {{ content }}


  <!-- Share -->
  {% if page.share != false %}
  <div class="post-share">
    <hr>
      <span>Share this: <br /></span>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" class="ssk ssk-icon ssk-facebook"></a>
      <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" class="ssk ssk-icon ssk-twitter"></a>
      <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" class="ssk ssk-icon ssk-google-plus"></a>
      <a href="https://www.tumblr.com/share?url={{ site.url }}{{ page.url }}" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" class="ssk ssk-icon ssk-tumblr"></a>
      <a href="mailto:?subject={{ page.title }}&amp;body=Check out this site {{ site.url }}{{ page.url }}" class="ssk ssk-icon ssk-email"></a>

      <hr>
  </div>
  {% endif %}

  <!-- Disqus -->
  {% if page.comments != false and site.disqus.id %}
    {% include disqus.html %}
  {% endif %}

</div>
